.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  user-select: none;
  margin-bottom: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#entity-container {
  background: rgba(0, 0, 0, .5);
  text-align: left;
  padding: 1rem;
}

table {
  margin-top: 1rem;
  font-size: 1rem;
  border-style: none;
  border-spacing: 0;

  td, th {
    padding-right: 1.5rem;
    padding: .5rem;
  }
  tbody tr:hover {
    background-color: rgba(255, 255, 255, .2)
  }
}

#input-search {
  padding: 1rem;
  margin-bottom: 1rem;  
  color: white;
  background: rgba(0, 0, 0, .5);
  border: none;

  &:focus,
  &:active {
    outline: none;
  }
}

.actions {
  float: left;
}

.clearfix {
  clear:both;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &.modal-backdrop {
    top: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    background: rgba(0,0,0,.6);
  }

  .modal-body, .modal-footer, .modal-header {
    width: 300px;
    padding: 1rem;
    background-color: white;
  }

  .modal-header {
    border-bottom: 1px solid #d1d1d1;
    border-radius: 5px 5px 0px 0px;
    font-weight: 600;
  }

  .modal-footer {
    border-top: 1px solid #d1d1d1;
    border-radius: 0px 0px 5px 5px ;
    button {
      font-weight: bold;
      padding: 0.5rem 1rem;
      cursor: pointer;

      &.modal-button-save {
        float: right;
      }
    
      &.modal-button-close {
        float: left;
      }
    }
  }
}

.field-container {
  width: 100%;

  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.field-input {
  border: 1px solid #d1d1d1;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 1rem ;
  border-radius: 5px;
}